<div class="card mt-5">
    <div class="card-body">
      <h4 class="card-title mb-4">
        Sign Up
      </h4>
      <form (ngSubmit)="onSignUp()" [formGroup]="loginForm" class="mb-3">
        <mat-form-field class="full-width mb-2">
          <mat-label>Email</mat-label>
          <input matInput formControlName="emailFormControl"/>
          <mat-error *ngIf="loginForm.get('emailFormControl').invalid">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width mb-3">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="passwordFormControl"
          />
          <mat-error *ngIf="loginForm.get('passwordFormControl').invalid">
            Please enter a password
          </mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Sign Up</button>
      </form>
      <a routerLink="/reset-password" class="card-link">Reset Password</a>
      <a routerLink="/login" class="card-link">Login</a>
    </div>
  </div>
  