<div class="card mt-5">
  <div class="card-body">
    <h4 class="card-title mb-4">
      Reset Password
    </h4>
    <form (ngSubmit)="onReset()" class="mb-3">
      <mat-form-field class="full-width mb-2">
        <mat-label>Email</mat-label>
        <input matInput [formControl]="emailFormControl"/>
        <mat-error *ngIf="emailFormControl.hasError('email') || emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <button type="submit"  mat-raised-button color="primary" [disabled]="emailFormControl.invalid">Reset</button>
    </form>
    <a routerLink="/login" class="card-link">Login</a>
    <a routerLink="/signup" class="card-link">Sign Up</a>
  </div>
</div>
